<launch>

    <arg name="num_robots" default="4"/>
    <param name = "inter_distance_x" value="1"/>
    <param name = "inter_distance_y" value="0"/>

    <node pkg="lab1_deploy_gazebo_students" type="deployment_turtlebot.py" name="deploy0" args="0">
        <param name = "neightbors" value = "1 2 3"/>
        <param name = "t_local" value = "0.5"/>
    </node>

    <node pkg="lab1_deploy_gazebo_students" type="deployment_turtlebot.py" name="deploy1" args="1">
        <param name = "neightbors" value = "0 2 3"/>
        <param name = "t_local" value = "0.5"/>
    </node>

    <node pkg="lab1_deploy_gazebo_students" type="deployment_turtlebot.py" name="deploy2" args="2">
        <param name = "neightbors" value = "0 1 3"/>
        <param name = "t_local" value = "0.5"/>
    </node>

    <node pkg="lab1_deploy_gazebo_students" type="deployment_turtlebot.py" name="deploy3" args="3" >
        <param name = "neightbors" value = "0 1 2"/>
        <param name = "t_local" value = "0.5"/>
    </node>
<!--
    <node pkg="lab1_deploy_gazebo_students" type="deployment_turtlebot.py" name="deploy3" args="3">
        <param name = "position" value = "$(arg fifth_tb3_x_pos) $(arg fifth_tb3_y_pos)"/>
        <param name = "neightbors" value = "1 2"/>
        <param name = "t_local" value = "0.5"/>
    </node>
-->

<node pkg="lab1_deploy_gazebo_students" type="position_plotter.py" name="position_plotter" args="$(arg num_robots)" output="screen"></node>
</launch>


